/*box*/
.panel-box-body {background-color: #eceff4;}
/*panel-box*/
.panel-box {background-color: #eceff4;}
/*confirm-save-determine*/
.btn-confirm{background-color: #337ab7;border-color: #2e6da4;color:#fff;}
.btn-confirm:hover,
.btn-confirm:active,
.btn-confirm.hover{color:#fff;background: #286090;border-color: #204d74;}
/*messager-button*/
.messager-button .l-btn:first-child  {background-color: #337ab7;border-color: #2e6da4;color:#fff;}
.messager-button .l-btn:first-child:hover {background: #286090;border-color: #204d74;}
/*loading*/
.progressbar-value .progressbar-text {background-color: #0c80d7;color: #fff;}
/*form*-opacity*/
.slider-handle {background:#337ab7;}
/*icheckbox*/
.icheckbox_minimal-blue,
.iradio_minimal-blue {background: url('blue/blue.png') no-repeat;}
.iradio_minimal-blue {background-position: -100px 0;}
/*combobox*/
.combobox-item-selected {background-color: #337ab7;}
/*tagbox*/
.tagbox-label {background: #ececec;}
/*button-text*/
.linkbutton-text:hover{color: #337ab7;}
/*search-buttom*/
.searchbox-button {background-color: #337ab7;}
/*menu*/
.menu-active {background-color: #357ebd;}
.m-btn-active,
.s-btn-active {background: #eaf2ff;}
/*dataTime*/
.calendar-selected{background-color: #357ebd;}
/*tabs*/
.tabs li.tabs-selected a.tabs-inner {
  background-color: #eceff4;
  border-top: 3px solid #337ab7;
  border-left: 1px solid #ddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #eceff4;
}
/*tabs-secondary*/
.tabs-header-plain .tabs li a.tabs-inner {
  background-color:#fff;
  border-top: 3px solid #fff;
  border-left:1px solid #f4f4f4;
  border-right:1px solid #f4f4f4;
  border-bottom:1px solid #fff;
}
.tabs-header-plain .tabs li.tabs-selected a.tabs-inner {
  border-top: 3px solid #337ab7;
  color:#337ab7;
}
/*tree*/
.tree-folder {background: url('blue/tree_icons.png') no-repeat -208px 0;}
.tree-folder-open {background: url('blue/tree_icons.png') no-repeat -225px 0;}
.tree-file {background: url('blue/tree_icons.png') no-repeat -240px 0;}
.tree-checkbox0 {background: url('blue/tree_icons.png') no-repeat -208px -30px;}
.tree-checkbox1 {background: url('blue/tree_icons.png') no-repeat -224px -30px;}
.tree-checkbox2 {background: url('blue/tree_icons.png') no-repeat -240px -30px;}
/*datagrid-pager*/
.datagrid .datagrid-pager  .l-btn-plain-selected,
.datagrid .datagrid-pager  .l-btn-plain-selected:hover {background: #337ab7;border-color: #2e6da4;}