.icon-root {
    background:url('icons/sudytech/root.gif') no-repeat;
}

.icon-renyuan {
    background:url('icons/sudytech/renyuan.png') no-repeat;
}

.icon-folderRoot {
    background:url('icons/sudytech/folder_root1.gif') no-repeat;
}

.icon-permit {
    background:url('icons/sudytech/permit.gif') no-repeat;
}

.icon-set {
    background:url('icons/sudytech/set.gif') no-repeat;
}

.icon-setIssue {
    background:url('icons/sudytech/set.png') no-repeat;
}

.icon-config {
    background:url('icons/sudytech/config.gif') no-repeat;
}

.icon-bindColumn {
    background:url('icons/sudytech/bindColumn.gif') no-repeat;
}
.icon-mingxi {
    background:url('icons/sudytech/mingxi.png') no-repeat;
}

.icon-up {
    background:url('icons/sudytech/up.gif') no-repeat;
}

.icon-down {
    background:url('icons/sudytech/down.gif') no-repeat;
}

.icon-left {
    background:url('icons/sudytech/left.png') no-repeat;
}

.icon-right {
    background:url('icons/sudytech/right.png') no-repeat;
}
.icon-blank{
    background:url('icons/sudytech/blank.gif') no-repeat;
}
.icon-add{
    background:url('icons/sudytech/edit_add.png') no-repeat;
}
.icon-module{
    background:url('icons/sudytech/new-moulde.png') no-repeat;
}
.icon-source{
    background:url('icons/sudytech/new-source.png') no-repeat;
}
.icon-create{
    background:url('icons/sudytech/create.gif') no-repeat;
}
.icon-edit{
    background:url('icons/sudytech/pencil.png') no-repeat;
}
.icon-ghsyt{
    background:url('icons/sudytech/ghsyt.gif') no-repeat;
}
.icon-look{
    background:url('icons/sudytech/asd.png') no-repeat;
}
.icon-receive{
    background:url('icons/sudytech/jieshou.png') no-repeat;
}
.icon-fback{
    background:url('icons/sudytech/fback.png') no-repeat;
}
.icon-flowControl{
    background:url('icons/sudytech/qt.png') no-repeat;
}
.icon-remove{
    background:url('icons/sudytech/c.png') no-repeat;
}
.icon-template{
    background:url('icons/sudytech/qw.png') no-repeat;
}
.icon-folder{
    background:url('icons/sudytech/qe.png') no-repeat;
}
.icon-crosssite{
    background:url('icons/sudytech/qr.png') no-repeat;
}
.icon-visitcontrol{
    background:url('icons/sudytech/visitcontrol.png') no-repeat;
}
.icon-save{
    background:url('icons/sudytech/save.gif') no-repeat;
}
.icon-yifabu{
    background:url('icons/sudytech/qo.png') no-repeat;
}
.icon-download{
    background:url('icons/sudytech/download.gif') no-repeat;
}
.icon-cut{
    background:url('icons/sudytech/cut.png') no-repeat;
}
.icon-ok{
    background:url('icons/sudytech/d.png') no-repeat;
}
.icon-no{
    background:url('icons/sudytech/e.png') no-repeat;
}
.icon-cancel{
    background:url('icons/sudytech/qy.png') no-repeat;
}
.icon-commend{
    background:url('icons/sudytech/qu.png') no-repeat;
}
.icon-reload{
    background:url('icons/sudytech/reload.png') no-repeat;
}
.icon-search{
    background:url('icons/sudytech/search.png') no-repeat;
}
.icon-complete{
    background:url('icons/sudytech/qi.png') no-repeat;
}
.icon-flowHistory{
    background:url('icons/sudytech/liuchenglishi.png') no-repeat;
}
.icon-versionHistory{
    background:url('icons/sudytech/qp.png') no-repeat;
}
.icon-cancelComplete{
    background:url('icons/sudytech/cancelComplete.gif') no-repeat;
}
.icon-print{
    background:url('icons/sudytech/print.png') no-repeat;
}
.icon-help{
    background:url('icons/sudytech/help.png') no-repeat;
}
.icon-undo{
    background:url('icons/sudytech/undo.png') no-repeat;
}
.icon-redo{
    background:url('icons/sudytech/redo.png') no-repeat;
}
.icon-back{
    background:url('icons/sudytech/reset.png') no-repeat;
}
.icon-static{
    background:url('icons/sudytech/static.gif') no-repeat;
}
.icon-go{
    background:url('icons/sudytech/go.png') no-repeat;
}
.icon-sum{
    background:url('icons/sudytech/sum.png') no-repeat;
}
.icon-tip{
    background:url('icons/sudytech/tip.png') no-repeat;
}
.icon-catchIssue{
    background:url('icons/sudytech/s12.png') no-repeat;
}
.icon-cancelIssue{
    background:url('icons/sudytech/qxfb.png') no-repeat;
}
.icon-mutilCancel{
    background:url('icons/sudytech/mutilCancel.gif') no-repeat;
}
.icon-issueClear{
    background:url('icons/sudytech/issueClear.gif') no-repeat;
}
.icon-setDefault{
    background:url('icons/sudytech/setDefault.gif') no-repeat;
}
.icon-rarDownload{
    background:url('icons/sudytech/rarDownload.gif') no-repeat;
}
.icon-copy{
    background:url('icons/sudytech/copy.gif') no-repeat;
}
.icon-contentEdit{
    background:url('icons/sudytech/contentEdit.png') no-repeat;
}
.icon-defaultColumnList{
    background:url('icons/sudytech/defaultColumnList.gif') no-repeat;
}
.icon-defaultArticle{
    background:url('icons/sudytech/defaultArticle.gif') no-repeat;
}
.icon-refresh{
    background:url('icons/sudytech/refresh.gif') no-repeat;
}
.icon-deleteClearly{
    background:url('icons/sudytech/deleteClearly.gif') no-repeat;
}
.icon-setSystemAdmin{
    background:url('icons/sudytech/setSystemAdmin.gif') no-repeat;
}
.icon-setOrg{
    background:url('icons/sudytech/setOrg.gif') no-repeat;
}
.icon-setUserOrg{
    background:url('icons/sudytech/setUserOrg.gif') no-repeat;
}
.icon-logout{
    background:url('icons/sudytech/zhuxiao.png') no-repeat;
}
.icon-account{
    background:url('icons/sudytech/account.png') no-repeat;
}
.icon-accountAlias{
    background:url('icons/sudytech/accountAlias.png') no-repeat;
}


.icon-mini-add{
    background:url('icons/sudytech/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
    background:url('icons/sudytech/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
    background:url('icons/sudytech/mini_refresh.png') no-repeat 3px 2px;
}

.icon-menu{
    background:url('icons/sudytech/menu.gif') no-repeat;
}

.icon-menu-f{
    width:0;
}
.icon-menu-s{
    background:url('icons/sudytech/dot_small.gif') no-repeat;
    margin-left:-16px;
}

.icon-column-p{
    background:url('icons/sudytech/column-p.png') no-repeat;
}
.icon-column-s{
    background:url('icons/sudytech/column-s.png') no-repeat;
}
.icon-column-p-c{
    background:url('icons/sudytech/column-p-c.png') no-repeat;
}
.icon-column-s-c{
    background:url('icons/sudytech/column-s-c.png') no-repeat;
}
.icon-column-ip{
    background:url('icons/sudytech/column.png') no-repeat;
}
.icon-folder-ip{
    background:url('icons/sudytech/folder.png') no-repeat;
}

.icon-folder-r{
    background:url('icons/sudytech/folder_root1.gif') no-repeat;
}
.icon-folder-r1{
    background:url('icons/sudytech/folder_inFlow_child.png') no-repeat;
}
.icon-folder-r2{
    background:url('icons/sudytech/folder_inFlow.png') no-repeat;
}
.icon-folder-o{
    background:url('icons/sudytech/folder_o.gif') no-repeat;
}
.icon-folder-p{
    background:url('icons/sudytech/folder_p.gif') no-repeat;
}
.icon-folder-s{
    background:url('icons/sudytech/folder_s.gif') no-repeat;
}

.icon-org-r{
    background:url('icons/sudytech/folder_root.gif') no-repeat;
}
.icon-org-p{
    background:url('icons/sudytech/org-p.gif') no-repeat;
}
.icon-org-s{
    background:url('icons/sudytech/org-s.gif') no-repeat;
}

.icon-group-s{
    background:url('icons/sudytech/group_r.png') no-repeat;
}
.icon-group-c{
    background:url('icons/sudytech/groupc.png') no-repeat;
}
.icon-group-g{
    background:url('icons/sudytech/group.png') no-repeat;
}
.icon-groupr{
    background:url('icons/sudytech/zu.png') no-repeat;
}

.icon-group-r{
    background:url('icons/sudytech/folder_root.gif') no-repeat;
}

.icon-site-p{
    background:url('icons/sudytech/site-p.gif') no-repeat;
}
.icon-site-s{
    background:url('icons/sudytech/site-s.gif') no-repeat;
}

.icon-user-p{
    background:url('icons/sudytech/user-p.gif') no-repeat;
}
.icon-user-s{
    background:url('icons/sudytech/user-s.gif') no-repeat;
}

.icon-webplus-p{
    background:url('icons/sudytech/webplus-p.gif') no-repeat;
}
.icon-webplus-s{
    background:url('icons/sudytech/webplus-s.gif') no-repeat;
}
.icon-siteEntityFolder-p{
    background:url('icons/sudytech/folder_p.gif') no-repeat;
}
.icon-siteEntityFolder-s{
    background:url('icons/sudytech/folder_s.gif') no-repeat;
}
.icon-portletAppDO-s{
    background:url('icons/sudytech/webplus-s.png') no-repeat;
}
.icon-portletAppDO-p{
    background:url('icons/sudytech/webplus-p.png') no-repeat;
}
.icon-portletDOfolder-p{
    background:url('icons/sudytech/folder-p.png') no-repeat;
}
.icon-portletDOfolder-s{
    background:url('icons/sudytech/folder-s.png') no-repeat;
}
.icon-portletSite-p{
    background:url('icons/sudytech/site-p.gif') no-repeat;
}
.icon-portletSite-s{
    background:url('icons/sudytech/site-s.gif') no-repeat;
}
.icon-publishSite-p{
    background:url('icons/sudytech/site-p.gif') no-repeat;
}
.icon-publishSite-s{
    background:url('icons/sudytech/site-s.gif') no-repeat;
}
.icon-publishSite-c{
    background:url('icons/sudytech/site-s.gif') no-repeat;
}
.icon-publishServer-root{
    background:url('icons/sudytech/fabufuwuqi.png') no-repeat;
}
.icon-publishServer-s{
    background:url('icons/sudytech/fuwuqi.png') no-repeat;
}
.icon-publishServer-p{
    background:url('icons/sudytech/fuwuqi.png') no-repeat;
}
.icon-codeclass{
    background:url('icons/sudytech/folder-s.png') no-repeat;
}
.icon-code{
    background:url('icons/sudytech/arrow.png') no-repeat;
}
.icon-quanxian{
    background:url('icons/sudytech/quanxian.png') no-repeat;
}
.icon-module-p{
    background:url('icons/sudytech/webplus-p.gif') no-repeat;
}
.icon-module-s{
    background:url('icons/sudytech/webplus-s.gif') no-repeat;
}
.icon-role-r{
    background:url('icons/sudytech/role_r.png') no-repeat;
}

.icon-role-s{
    background:url('icons/sudytech/role_s.png') no-repeat;
}
.icon-role-p{
    background:url('icons/sudytech/role_p.png') no-repeat;
}

.icon-articleType-p{
    background:url('icons/sudytech/folder-p.png') no-repeat;
}
.icon-articleType-s{
    background:url('icons/sudytech/folder-s.png') no-repeat;
}
.icon-articleCategory-p{
    background:url('icons/sudytech/category-p.gif') no-repeat;
}
.icon-articleCategory-s{
    background:url('icons/sudytech/category-s.gif') no-repeat;
}
.icon-tplBaseCategory-p{
    background:url('icons/sudytech/folder-p.png') no-repeat;
}
.icon-tplBaseCategory-s{
    background:url('icons/sudytech/folder-s.png') no-repeat;
}
.icon-siteRes{
    background:url('icons/sudytech/tip.png') no-repeat;
}

.icon-brush{
    background:url('icons/sudytech/brush.png') no-repeat;
}

.icon-quote{
    background:url('icons/sudytech/quote.png') no-repeat;
}

.icon-view{
    background:url('icons/sudytech/view.gif') no-repeat;
}

.icon-collector{
    background:url('icons/sudytech/caiji.png') no-repeat;
}

.icon-flow{
    background:url('icons/sudytech/liucheng.gif') no-repeat;
}

.icon-resycle{
    background:url('icons/sudytech/fback.png') no-repeat;
}

.icon-songshen{
    background:url('icons/sudytech/songshen.gif') no-repeat;
}

.icon-fabu{
    background:url('icons/sudytech/send.gif') no-repeat;
}

.icon-close{
    background:url('icons/sudytech/close.gif') no-repeat;
}

.icon-clear{
    background:url('icons/sudytech/clear.gif') no-repeat;
}

.icon-kuazhanIssue{
    background:url('icons/sudytech/kuazhan.png') no-repeat;
}

.icon-myindex-help{
    background:url('icons/sudytech/myindex/help.png') no-repeat;
}

.icon-myindex-resource{
    background:url('icons/sudytech/myindex/resource.png') no-repeat;
}

.icon-myindex-message{
    background:url('icons/sudytech/myindex/message.png') no-repeat;
}

.icon-myindex-personal{
    background:url('icons/sudytech/myindex/personal.png') no-repeat;
}

.icon-myindex-calendar{
    background:url('icons/sudytech/myindex/calendar.png') no-repeat;
}

.icon-myindex-pending{
    background:url('icons/sudytech/myindex/pending.png') no-repeat;
}

.icon-myindex-monitor{
    background:url('icons/sudytech/myindex/monitor.png') no-repeat;
}

.icon-myindex-siteStat{
    background:url('icons/sudytech/myindex/siteStat.png') no-repeat;
}

.icon-myindex-pubStat{
    background:url('icons/sudytech/myindex/pubStat.png') no-repeat;
}

.icon-myindex-info{
    background:url('icons/sudytech/myindex/info.png') no-repeat;
}

.icon-article-sh{
    background:url('icons/sudytech/article/sh.png') no-repeat;
}

.icon-article-hy{
    background:url('icons/sudytech/article/hy.png') no-repeat;
}

.icon-article-fb{
    background:url('icons/sudytech/article/fb.png') no-repeat;
}

.icon-article-fbsz{
    background:url('icons/sudytech/article/fbsz.png') no-repeat;
}

.icon-article-qxgd{
    background:url('icons/sudytech/article/qxgd.png') no-repeat;
}

.icon-article-word{
    background:url('icons/sudytech/article/icon_doc.gif') no-repeat;
}

.icon-article-excel{
    background:url('icons/sudytech/article/icon_xls.gif') no-repeat;
}

.icon-tpl-backup{
    background:url('icons/sudytech/backup.png') no-repeat;
}

.icon-qingchu{
    background:url('icons/sudytech/qingchu.png') no-repeat;
}

.icon-like{
    background:url('icons/sudytech/like.png') no-repeat;
}

.icon-peizhi{
    background:url('icons/sudytech/peizhi.png') no-repeat;
}

.icon-zanting{
    background:url('icons/sudytech/zanting.png') no-repeat;
}

.icon-wenzhangleix{
    background:url('icons/sudytech/wenzhangleix.png') no-repeat;
}

.icon-wenjianjialeix{
    background:url('icons/sudytech/wenjianjialeix.png') no-repeat;
}

.icon-cslj{
    background:url('icons/sudytech/cslj.png') no-repeat;
}
.icon-cxjb{
    background:url('icons/sudytech/cxjb.png') no-repeat;
}
.icon-zddy{
    background:url('icons/sudytech/zddy.png') no-repeat;
}
.icon-guanlian{
    background:url('icons/sudytech/guanlian.png') no-repeat;
}
.icon-rss{
    background:url('icons/sudytech/rss.png') no-repeat;
}
.icon-yfbwd{
    background:url('icons/sudytech/yfbwd.png') no-repeat;
}
.icon-cjzt{
    background:url('icons/sudytech/cjzt.png') no-repeat;
}

.icon-wenjuan {
    background:url('icons/sudytech/wenjuan.png') no-repeat;
}

.icon-wjdc-p{
    background:url('icons/sudytech/wjdc-p.png') no-repeat;
}

.icon-ly-p{
    background:url('icons/sudytech/ly-p.png') no-repeat;
}

.icon-ly-s{
    background:url('icons/sudytech/ly-s.png') no-repeat;
}

.icon-hbwjj{
    background:url('icons/sudytech/hbwjj.gif') no-repeat;
}
.icon-ghsyt{
    background:url('icons/sudytech/ghsyt.gif') no-repeat;
}
.icon-userOn{
    background:url('icons/sudytech/useron.png') no-repeat;
}
.icon-userOff{
    background:url('icons/sudytech/useroff.png') no-repeat;
}
.icon-newTalk{
    background:url('icons/sudytech/newTalk.gif') no-repeat;
}
.icon-ref{
    background:url('icons/sudytech/ref.png') no-repeat;
}
.icon-page{
    background:url('icons/sudytech/page.gif') no-repeat;
}

.icon-upload{
    background:url('icons/sudytech/up.gif') no-repeat;
}
.icon-moveTo{
    background:url('icons/sudytech/moveTo.png') no-repeat;
}
.icon-reply{
    background:url('icons/sudytech/reply.png') no-repeat;
}
.icon-read{
    background:url('icons/sudytech/exam_read.png') no-repeat;
}
.icon-unread{
    background:url('icons/sudytech/exam_unread.png') no-repeat;
}
.icon-browseRes{
    background:url('icons/sudytech/liulan.png') no-repeat;
}

.icon-siteImport{
    background:url('icons/sudytech/siteImport.png') no-repeat;
}
.icon-siteExport{
    background:url('icons/sudytech/siteExport.png') no-repeat;
}
.icon-siteAttriExport{
    background:url('icons/sudytech/siteAttriExport.png') no-repeat;
}

.icon-sort{
    background:url('icons/sudytech/sort.png') no-repeat;
}

.icon-sortBeforeA{
    background:url('icons/sudytech/sortBeforeA.png') no-repeat;
}

.icon-sortAfterA{
    background:url('icons/sudytech/sortAfterA.png') no-repeat;
}
.icon-unbind{
    background:url('icons/sudytech/unbind.gif') no-repeat;
}

.icon-article-wishColumn{
    background:url('icons/sudytech/artWishColumn.png') no-repeat;
}

.icon-article-on{
    background:url('icons/sudytech/on.gif') no-repeat;
}

.icon-article-off{
    background:url('icons/sudytech/off.gif') no-repeat;
}
.icon-chl{
    background:url('icons/sudytech/chl.png') no-repeat;
}
.icon-catagory{
    background:url('icons/sudytech/catagory.png') no-repeat;
}
.icon-saveAndPub{
    background:url('icons/sudytech/saveAndPub.png') no-repeat;
}
.icon-resExport{
    background:url('icons/sudytech/resExport.png') no-repeat;
}

.icon-column-d-p{
    background:url('icons/sudytech/column-d-p.png') no-repeat;
}
.icon-column-d-c{
    background:url('icons/sudytech/column-d-c.png') no-repeat;
}

.icon-ucp-xb{
    background:url('icons/sudytech/ucp_xb.png') no-repeat;
}
.icon-ucp-sz{
    background:url('icons/sudytech/ucp_sz.png') no-repeat;
}
.icon-ucp-sjx{
    background:url('icons/sudytech/ucp_sjx.png') no-repeat;
}
.icon-ucp-hsz{
    background:url('icons/sudytech/ucp_hsz.png') no-repeat;
}
.icon-ucp-fjx{
    background:url('icons/sudytech/ucp_fjx.png') no-repeat;
}
.icon-ucp-cgx{
    background:url('icons/sudytech/ucp_cgx.png') no-repeat;
}
.icon-ucp-bq{
    background:url('icons/sudytech/ucp_bq.png') no-repeat;
}
.icon-secret-sh{
    background:url('icons/sudytech/article/secret_sh.png') no-repeat;
}
.icon-secret-ss{
    background:url('icons/sudytech/article/secret_ss.png') no-repeat;
}
.icon-article-bathUpload{
    background:url('icons/sudytech/article/batchUpload.png') no-repeat;
}
.icon-article-submission{
    background:url('icons/sudytech/article/submission.gif') no-repeat;
}
.icon-article-untread{
    background:url('icons/sudytech/article/untread.gif') no-repeat;
}
.icon-article-savePreview{
    background:url('icons/sudytech/article/savePreview.png') no-repeat;
}
.icon-article-emptyRestart{
    background:url('icons/sudytech/article/emptyRestart.png') no-repeat;
}
.icon-article-auditing{
    background:url('icons/sudytech/article/auditing.png') no-repeat;
}
.icon-dongjie{
    background:url('icons/sudytech/article/dongjie.png') no-repeat;
}
.icon-columnSet{
    background:url('icons/sudytech/columnset.gif') no-repeat;
}
.icon-ipLimit{
    background:url('icons/sudytech/ipLimit.png') no-repeat;
}
.icon-maincolumn{
    background:url('icons/sudytech/mc.png') no-repeat;
}
.icon-add-arttype{
    background:url('icons/sudytech/addwzlx.png') no-repeat;
}
.icon-remove-arttype{
    background:url('icons/sudytech/removewzlx.png') no-repeat;
}
.icon-imgLibFolder-p{
    background:url('icons/sudytech/folder/imgLibFolder_p.png') no-repeat;
}
.icon-imgLibFolder-r{
    background:url('icons/sudytech/folder/imgLibFolder_p.png') no-repeat;
}
.icon-imgLibFolder-s{
    background:url('icons/sudytech/folder/imgLibFolder_s.png') no-repeat;
}

.icon-imgFolder-s{
    background:url('icons/sudytech/folder/imgFolder_s.png') no-repeat;
}
.icon-videoLibFolder-r{
    background:url('icons/sudytech/folder/videoLibFolder_p.png') no-repeat;
}
.icon-videoLibFolder-p{
    background:url('icons/sudytech/folder/videoLibFolder_p.png') no-repeat;
}

.icon-videoLibFolder-s{
    background:url('icons/sudytech/folder/videoLibFolder_s.png') no-repeat;
}

.icon-videoFolder-s{
    background:url('icons/sudytech/folder/videoFolder_s.png') no-repeat;
}
.icon-trailerFolder-p{
    background:url('icons/sudytech/folder/trailerFolder_p.png') no-repeat;
}

.icon-trailerFolder-s{
    background:url('icons/sudytech/folder/trailerFolder_s.png') no-repeat;
}
.icon-newsFolder-p{
    background:url('icons/sudytech/folder/newsFolder_p.gif') no-repeat;
}
.icon-newsFolder-s{
    background:url('icons/sudytech/folder/newsFolder_s.gif') no-repeat;
}

.icon-twSurveySet-p{
    background:url('icons/sudytech/folder/twSurveySet_p.png') no-repeat;
}
.icon-twSurveySet-s{
    background:url('icons/sudytech/folder/twSurveySet_s.png') no-repeat;
}
.icon-twSurveyTheme-s{
    background:url('icons/sudytech/folder/twSurveyTheme_s.png') no-repeat;
}

.icon-issueFolder-s{
    background:url('icons/sudytech/folder/issueFolder_s.png') no-repeat;
}

.icon-issueFolder-p{
    background: url('icons/sudytech/folder/issueFolder_p.png') no-repeat;
}

.icon-magazineFolder-s{
    background:url('icons/sudytech/folder/magazineFolder_s.png') no-repeat;
}

.icon-magazineFolder-p{
    background: url('icons/sudytech/folder/magazineFolder_p.png') no-repeat;
}

.icon-pageFolder-s{
    background:url('icons/sudytech/folder/pageFolder_s.png') no-repeat;
}

.icon-pageFolder-p{
    background: url('icons/sudytech/folder/pageFolder_p.png') no-repeat;
}

.icon-wechatMenu{
    background: url('icons/sudytech/folder/wechat_menu.png') no-repeat;
}

.icon-wechatMaterial-p{
    background: url('icons/sudytech/folder/wechat_material_p.png') no-repeat;
}

.icon-wechatMaterial-s{
    background: url('icons/sudytech/folder/wechat_material_s.png') no-repeat;
}
.icon-docLibFolder-r{
    background: url('icons/sudytech/folder/docLibFolder_r.png') no-repeat;
}
.icon-docLibFolder-p{
    background: url('icons/sudytech/folder/docLibFolder_p.png') no-repeat;
}

.icon-docLibFolder-s{
    background: url('icons/sudytech/folder/docLibFolder_s.png') no-repeat;
}
.icon-resFolder-p{
    background: url('icons/sudytech/folder/resFolder_p.png') no-repeat;
}

.icon-resFolder-s{
    background: url('icons/sudytech/folder/resFolder_s.png') no-repeat;
}
.icon-draw{
    background: url('icons/sudytech/draw.png') no-repeat;
}

.icon-disableFun{
    background: url('icons/sudytech/disableFun.png') no-repeat;
}

.icon-disableUser{
    background: url('icons/sudytech/disableUser.png') no-repeat;
}

.icon-disableIP{
    background: url('icons/sudytech/disableIP.png') no-repeat;
}

.icon-belive{
    background: url('icons/sudytech/belive.png') no-repeat;
}

.icon-clearAll{
    background: url('icons/sudytech/clearAll.png') no-repeat;
}
.icon-detail{
    background: url('icons/sudytech/x.gif') no-repeat;
}
.icon-funMng{
    background: url('icons/sudytech/fun_mng.png') no-repeat;
}
.icon-libMng{
    background: url('icons/sudytech/lib_mng.png') no-repeat;
}
.icon-folder-export{
    background:url('icons/sudytech/folderExport.png') no-repeat;
}
.icon-dw{
    background:url('icons/sudytech/dw.png') no-repeat;
}
