@charset 'UTF-8';
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  font:14px/20px "Microsoft yahei",arial,sans-serif;
  background-color: #eee;
  /*background: url(../images/s_1.jpg) center no-repeat;*/
}
.ui-container {
  position: relative;
  padding-top: 30%;
  text-align : center;
  width: 100%;
  height: auto;
  /*border:1px solid red;*/
}
.ui-login {
  height: 30px;
  line-height: 30px;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:1px solid #eee;;
  margin: 0 0 10px;
  padding: 5px 10px 5px 40px;
  /*border-radius: 5px;*/
  width: 80%;
}
#username {
  background: url(../images/user.png) left no-repeat;
}
#pwd {
  background: url(../images/pwd.png) left no-repeat;
}
.wraper{
  margin:0 auto;
  width: 90%;
  text-align: center;
  /*margin-top: 30px;*/
  /*margin-top: 30%;*/
  border:1px solid #eee;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #eee;
  padding-top: 20px;
    background-color: #fff;
}
.ui-btn-primary {
  background-color: #6792D8;
  border-color: #6792D8;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#6792D8),to(#5E8BD5));
  color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
 }
.ui-footer-positive, .ui-header-positive {
  background-color: #2659AD;
}
.ui-container h1 {
  margin-top: 30%;
}
.ui-container h1:before {
  /*background: -webkit-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);*/
  background: -webkit-linear-gradient(right, rgba(113, 28, 28, 1) 0%,rgba(255,255,255,1) 100%);
}
.ui-container h1:after {
  /*background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);*/
  background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
}
.ui-container h1:before, .ui-container h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 27%;
}
.imgs {
  margin-top: 30%;
}
.tit-font{
  color: #fff;
  font-size: 1.2em;
}
.footer {
  color: #fff;
  position: fixed;
  bottom: 10px;
  width: 100%;
  font-size: 14px;
}
.right {
  text-align: center;
}