<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <!--  1. 导入数据库配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--  2. 导入数据库连接池
            dbpc: 半自动化操作，不能自动连接
            c3p0: 自动化操作（自动化家在配置文件，并且可以设置到对象中）
            druid: 公司用的多
            hikari：SpringBoot2.x的默认数据库连接池
    -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="name" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--  3. 配置sqlSessionFactory，配置数据源和绑定mybatis配置文件  -->
    <bean id="SqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybaties-config.xml"/>
    </bean>

    <!--  4. 配置dao目录的包扫描  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--   注入sqlSessionFactory     -->
        <property name="sqlSessionFactoryBeanName" value="SqlSessionFactoryBean"/>
        <!--   配置包扫描     -->
        <property name="basePackage" value="com.nzhao.dao"/>
    </bean>
</beans>